<p>teste</p>
<p>a</p>


<button (click)="criar()">Nova Tarefa</button>

<ul *ngIf="tarefas$ | async as lista; else carregando">
    <li *ngFor="let item of lista">
        {{ item.titulo }}
        {{ item.descricao }}
        {{ item.status }}
        {{ item.criacao }}
        <button (click)="editar(item)">Editar</button>
        <button (click)="excluir(item)">Excluir</button>
        <button (click)="finalizar(item)">Finalizar</button>
    </li>
</ul>

<ng-template #carregando>
    <p>Carregando tarefas...</p>
</ng-template>
<!--<ul>
    <li *ngFor="let item of tarefas">{{item.titulo}}</li>
</ul>
<ul>
    <li *ngFor="let item of tarefas$ | async">{{ item.titulo }}</li>
    <button type="button" >Finalizar</button>
    <button type="button" >Editar</button>
    <button type="button">Excluir</button> 
</ul>
<button type="button" (click)="criar()">Nova tarefa</button>-->