<h1>Lista de Tarefas</h1>
<button (click)="criar()">Nova Tarefa</button>

<ul *ngIf="tarefas$ | async as lista; else carregando">
    <li *ngFor="let item of lista">
        {{ item.titulo }}
        {{ item.descricao }}
        {{ item.status }}
        {{ item.criacao }}
        <button (click)="editar(item)">Editar</button>
        <button (click)="excluir(item)">Excluir</button>
        <button (click)="finalizar(item)">Finalizar</button>
    </li>
</ul>

<ng-template #carregando>
    <p>Carregando tarefas...</p>
</ng-template>
