<form [formGroup]="tarefaForm" (ngSubmit)="enviar()">
  <div>
    <label>Título:</label>
    <input type="text" formControlName="titulo">
    <small *ngIf="tarefaForm.get('titulo')?.invalid && tarefaForm.get('titulo')?.touched">
      O título é obrigatório.
    </small>
  </div>

  <div>
    <label>Descrição:</label>
    <textarea formControlName="descricao"></textarea>
  </div>

  <button type="submit" [disabled]="tarefaForm.invalid">
    {{ idTarefaExistente ? 'Salvar Alterações' : 'Cadastrar Tarefa' }}
  </button>
  
  <button type="button" (click)="voltar()">Cancelar</button>
</form>